{{!-- <main class="m-2">
    <div class="card m-5 p-5 card-dark row g-2">
        <input type="text" class="input-dark" required placeholder="Text">
        <input type="text" class="input-dark">

        <input type="email" class="input-dark" placeholder="Text">

    </div>

    <div class="card p-5">
        <p class="big-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae accusamus necessitatibus placeat
            aspernatur sapiente dolor tempora, beatae ad veniam nihil, hic magni est voluptatem? Porro exercitationem
            accusamus ea voluptatibus? Eum.
        </p>
    </div>
</main> --}}