<div class="page">
    <section class="page_section">
        <div class="page_content hero_section">
            <div class="hero">
                <div class="hero_content">
                    <span class="hero_label">
                        Slack Features
                    </span>
                    <h1 class="hero_title">
                        One platform for your team and your work
                    </h1>
                    <p class="hero_info">
                        All the features of Slack work together so you can, too.
                    </p>
                    <div class="hero_buttons">
                        <a href="#" class="button button_primary click">Try for free</a>
                        <a href="#" class="button button_secondary click">See all features</a>
                    </div>
                    <img src="/img/hero.png" alt="# " class="hero_image">
                </div>
            </div>
            <div class="brands">
                <img src="/brands/airbnb.png" alt="" class="brands_img">
                <img src="/brands/intuit.png" alt="" class="brands_img">
                <img src="/brands/newscorp.png" alt="" class="brands_img">
                <img src="/brands/onemedical.png" alt="" class="brands_img">
                <img src="/brands/sonos.png" alt="" class="brands_img">
                <img src="/brands/target.png" alt="" class="brands_img">
                <img src="/brands/uber.png" alt="" class="brands_img">
                <img src="/brands/usveteranaffairs.png" alt="" class="brands_img">
            </div>
        </div>
    </section>
    <section class="page_section page_section_light">
        <div class="page_content features_section">
            <h2 class="features_title">Work more easily with everyone</h2>
            <p class="features_info">Stay on the same page and make decisions faster by bringing all of your work
                communication into one place.</p>
            <div class="feat_grid_first">
                <div class="feat_card feat_card_big">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/1.svg');"></span>
                    <strong class="feat_card_title">Slack Connect</strong>
                    <p class="feat_card_info">Collaborate with teams at other
                        companies the same way you do
                        with teams at your own.</p>
                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/2.svg');"></span>
                    <strong class="feat_card_title"> Channels </strong>
                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/3.svg');"></span>
                    <strong class="feat_card_title"> Huddles </strong>
                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/4.svg');"></span>
                    <strong class="feat_card_title"> Clips </strong>
                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/5.svg');"></span>
                    <strong class="feat_card_title"> Canvas </strong>
                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/6.svg');"></span>
                    <strong class="feat_card_title"> Messaging </strong>
                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/7.svg');"></span>
                    <strong class="feat_card_title"> Accessibility </strong>
                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>
            </div>

        </div>

    </section>
    <section class="page_section page_section_light">
        <div class="page_content features_section_2">
            <div class="features_about">
                <h2 class="features_title">What you need, when you need it</h2>
                <p class="features_info">Spend less time shuffling tabs with a comprehensive message archive and
                    all your work tools at your fingertips.</p>
            </div>
            <div class="feat_grid_second">
                <div class="feat_card feat_2_card_big">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/8.svg');"></span>
                    <strong class="feat_card_title">Apps and Integrations</strong>
                    <p class="feat_card_info">Streamline work by connecting Slack with other services like Google Drive,
                        Office 365 and over 2,200 more.</p>
                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>
                <div class="feat_card feat_2_card_big">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/9.svg');"></span>
                    <strong class="feat_card_title">Workflow Builder</strong>
                    <p class="feat_card_info">Automate routine actions and communication, so you can get back to the
                        kind of work only humans can do.</p>
                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>
                <div class="feat_card ">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/10.svg');"></span>
                    <strong class="feat_card_title">Search</strong>

                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>
                <div class="feat_card ">
                    <span class="icon feat_icon" style="background-image: url('/svg/feature/11.svg');"></span>
                    <strong class="feat_card_title">File sharing</strong>
                    <a href="#" class="icon icon_arrow feat_link click"></a>
                </div>
            </div>

    </section>
    <section class="page_section">
        <div class="page_content delivery_section">
            <div class="delivery_content">
                <img src="/img/img-deliveroo.png" alt="" class="deliveroo_img">
                <div class="deliveroo_about">
                    <p class="deliveroo_desxription">“The thing that keeps us connected
                        the most is Slack. It’s a very
                        immediate and straightforward
                        method of communication, and
                        really the only channel that people
                        prefer and enjoy using.”</p>
                    <img src="/img/deliveroo.svg" alt="" class="deliv_content_img">
                    <p class="deliveroo_autor">
                        Will Sprunt, CIO, Deliveroo
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="page_section">
        <div class="page_content explore_section">
            <div class="explore_content">
                <h3 class="explore_title">
                    Explore more about working in Slack
                </h3>
                <div class="explore_cards">
                    <div class="exp_card">
                        <img src="/img/slack-101.jpg" alt="" class="exp_img">
                        <div class="exp_card_about">
                            <span class="exp_info">Slack Tutorials</span>
                            <h2 class="exp_title">Slack 101</h2>
                        </div>
                        <a href="#" class="exp_link click ">
                            <span>Learn More</span>
                            <span class="icon icon_arrow exp_link"></span>
                        </a>
                    </div>
                    <div class="exp_card">
                        <img src="/img/slack-vs-email.jpg" alt="" class="exp_img">
                        <div class="exp_card_about">
                            <span class="exp_info">Slack vs. Email</span>
                            <h2 class="exp_title">An easier, more organized way to work</h2>
                        </div>
                        <a href="#" class="exp_link click ">
                            <span>Learn More</span>
                            <span class="icon icon_arrow exp_link "></span>
                        </a>
                    </div>
                    <div class="exp_card">
                        <img src="/img/sluck-and-customers.png" alt="" class="exp_img">
                        <div class="exp_card_about">
                            <span class="exp_info">Customer Stories</span>
                            <h2 class="exp_title">How Fastly uses Slack Connect to wow enterprise customers</h2>
                        </div>
                        <a href="#" class="exp_link click ">
                            <span>Learn More</span>
                            <span class="icon icon_arrow feat_link "></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>