@layer main;
@layer main {
  .main {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    justify-content: center;
    gap: 15px;
    padding: 25px;
    flex-wrap: wrap;
  }

  .nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .nav-item {
    width: 100px;
    text-align: center;
  }
  .nav-link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    transition-property: text font;
    transition-duration: 0.5s;
  }

  .nav-link:hover {
    text-decoration: underline;
    font-weight: 700;
  }
  .disabled {
    color: grey;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    display: inline-block; /* For IE11/ MS Edge bug */
    pointer-events: none;
  }
}
