<div class="articless_card">
    <img src="{{photo}}" alt="" class="articless_card_img">
    <strong class="articless_card_title">{{name}}</strong>
    <p class="articless_card_text">{{description}}</p>
    <a href="" class="articless_card_link">Read All</a>
</div>