<footer class="footer">
    <div class="footer_links">
        {{#each data.pages}}
        <a href="{{path}}" class="footer_link">{{name}}</a>
        {{/each}}
    </div>
    <div class="footer_autor">{{data.copyright}}</div>
</footer>