<header class="header">
    <div class="logo">
        <span class="badge text-bg-primary">D</span>
    </div>
    <div class="header_nav">
        {{>links data=header url=url text=text isColumn=false}}
    </div>
</header>